/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Righteous&display=swap");

body {
    background-color: #111;
}

.beat {
    height: 45px;
    width: 45px;
    display: inline-block;
    margin: 5px;
}

.track {
    margin: auto;
    text-align: center;
    width: 100%;
    color: white;
    font-family: "Fira Sans", sans-serif;
    border-bottom: #111 1px solid;
    border-radius: 10px;
    user-select: none;
    background-color: #202020;
}

#track-list {
    list-style-type: none;
    padding: 0;
}

#drum-machine {
    margin: 50px auto;
    text-align: center;
    font-family: "Righteous", cursive;
    background-color: #222;
    width: 1280px;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #000, 0 0 0 8px rgb(53, 53, 53), 0 0 0 12px #000;
    padding-bottom: 20px;
}

.capitalize {
    text-transform: capitalize;
}

.instrument-icon {
    width: 50px;
}

.track-title {
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
}

.title-subtext {
    font-weight: lighter;
    font-size: 14px;
}
.title-maintext {
    font-weight: bolder;
    font-size: 22px;
}

.effect-maintext {
    font-weight: normal;
    font-size: 20px;
}

.track-controls {
    width: 13%;
    display: inline-block;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    text-align: left;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4) 60%,
        transparent
    );
}

.track-beats {
    width: 79%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.track-control-section {
    margin: 10px 0px;
}

.track-drag {
    vertical-align: top;
    margin-top: 80px;
    width: 1%;
    display: inline-block;
}

.track-drag svg {
    width: 11.5px !important;
}

.track-drag svg:hover {
    cursor: move;
}

.track-icon {
    vertical-align: top;
    margin-top: 60px;
    width: 6%;
    display: inline-block;
    filter: invert(1);
}

.machine-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.woofer {
    max-width: 250px;
    border: 3px black solid;
    /*
    border: 10px black solid;
    border-radius: 50%;
    */
}

.woofer-container {
    flex: 1 1 0px;
}

.machine-title {
    font-size: 50px;
    flex: 1 1 0px;
    color: red;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white;
}

.woofer-animated {
    animation: shake 0.25s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#start-label {
    width: 600px;
    color: white;
    margin: auto;
    font-size: 24px;
    font-weight: 100;
    padding: 20px;
}

#track-container {
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #000, 0 0 0 8px rgb(53, 53, 53), 0 0 0 12px #000;
    background-color: #0f0f0f;
}

#effects-container {
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #000, 0 0 0 8px rgb(53, 53, 53), 0 0 0 12px #000;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.track-kick {
    background-color: #200000;
}

.track-snare {
    background-color: #002000;
}

.track-tom {
    background-color: #000020;
}

.track-hihat {
    background-color: #200020;
}

.track-hihat,
.track-crash {
    background-color: #002020;
}

.track-clap {
    background-color: #202000;
}

.track-fx {
    background-color: #200040;
}

.track-accessory {
    background-color: #202040;
}

.effect {
    color: white;
    width: 24.8%;
    border: 1px white solid;
    border-radius: 10px;
    background-color: #181818;
}

.effect-controls {
    display: flex;
    justify-content: space-evenly;
}

.effect-controls label {
    font-size: 16px;
    font-weight: lighter;
}

.effect-label {
    width: 25px;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    user-select: none;
}
